*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    'DM Sans',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:where(a) {
  text-decoration: none;
}

:where(button, input[type='submit'], input[type='reset']) {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

:where(input, textarea) {
  font-family:
    'DM Sans',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;

  &:focus {
    border: none;
    outline: none;
  }
}

:where(fieldset) {
  border: none;
  margin: 0;
  padding: 0;
}

:where(legend) {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

:where(h1) {
  font-size: 1.5rem;
}

:where(h2) {
  font-size: 1.25rem;
}

:where(h3) {
  font-size: 1rem;
}

:where(h4) {
  font-size: 0.875rem;
}

:where(h5) {
  font-size: 0.75rem;
}

:where(h6) {
  font-size: 0.625rem;
}
