@use 'sass:map';
@use '../abstracts' as *;

$default-theme: (
  'bg': (
    #{$default-property-name}: $c-lightest,
    'elv': $c-lightest,
    'elv-up': $c-lighter,
    'elv-down': $c-lightest,
    'elv-mute': $c-lightest,
    'soft': $c-lighter,
    'soft-up': $c-lightest,
    'soft-down': $c-lightest,
    'soft-mute': $c-lightest,
    'alt': $c-gray-10,
  ),
  'neutral': $c-lightest,
  'neutral-inverse': $c-darkest,
  'text': (
    '1': $c-dark,
    '2': $c-darker,
    '3': $c-darkest,
    'inverse-1': $c-lightest,
    'inverse-2': $c-lighter,
    'inverse-3': $c-lightest,
    'dark': $c-dark,
    'light': $c-lightest,
  ),
  'mute': (
    #{$default-property-name}: $c-gray-92,
    'light': $c-gray-95,
    'lighter': $c-gray-98,
    'dark': $c-gray-70,
    'darker': $c-gray-60,
  ),
);

$default-theme-colors: generate-theme-properties();

$theme: map.deep-merge($default-theme-colors, $default-theme);
