$elevation-1: 0px 2px 4px rgba(0, 0, 0, 0.2);
$elevation-2: 0px 8px 16px 6px rgba(112, 144, 176, 0.12);
$elevation-3: 0px 4px 12px rgba(0, 0, 0, 0.1);
$elevation-inset-1: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
$elevation-inset-2: inset 0px 8px 8px rgba(0, 0, 0, 0.25);
